{% extends "layout/base.liquid" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div id="selection">
        <div id="player">
            <img src="/static/album.png" alt="Album Image">
        </div>
        <div id="queue">
            {% for song in songs %}
                <div>
                    <img src="/static/album.png" alt="Album Image">
                    <div>
                        <h3>{{ song.title }}</h3>
                        <p>{{ song.album.title }} - {{ song.album.artist.name }}</p>
                    </div>
                    <p>{{ song.length }}s</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="playlists">
        {% for genre in genres %}
            <section>
                <h3>{{ genre.name }}</h3>
            </section>
        {% endfor %}
    </div>
{% endblock %}
